@page
@model ShermansLittleSecretWardrobe.Pages.ShoppingCart.CartModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].CartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItem[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
