@page
@model ShermansLittleSecretWardrobe.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CartId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CreationTimestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CreationTimestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentTimestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentTimestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PaymentAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PaymentAmount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
